<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>{% block title %}{% endblock  title%}</title>
</head>
<body style="display: flex;">
<div style="display: flex; flex-direction: column;">
    <a href="/myErp/staff" class="nes-btn" style="margin: 10px;">staff</a>
    <a href="/myErp/supplier" class="nes-btn" style="margin: 10px;">supplier</a>
    <a href="/myErp/member" class="nes-btn" style="margin: 10px;">member</a>
    <a href="/myErp/item" class="nes-btn" style="margin: 10px;">item</a>
    <a href="/myErp/purchase_order" class="nes-btn" style="margin: 10px;">purchase_order</a>
    <a href="/myErp/sale_order" class="nes-btn" style="margin: 10px;">sale_order</a>
</div>
<div>{% block content %}{% endblock content %}</div>
</body>