{% extends "base.jinja" %}
{%block title%}Hello{%endblock title%}
{%block content%}
    <h1>{{user}}你好</h1>
    <section class="icon-list" style="display: flex;flex-direction: column;">
    <!-- close -->
    <i class="nes-icon close is-large"></i>

    <!-- trophy -->
    <i class="nes-icon trophy is-large"></i>

    <!-- coin -->
    <i class="nes-icon coin is-large"></i>
    </section>
{%endblock content%}
