{% extends "home.jinja" %}
{%block title%}Revenue{%endblock title%}
{%block content%}
<div display="flex !important">
    <div style="margin-top:50px ;">
        <form>
            <p class="title">Monthly Revenue</p>
            <label for="year">Year</label>
            <input type="text" id="year">
            <label for="month">Month</label>
            <select id="month">
                <option value="Jan">January</option>
                <option value="Feb">February</option>
                <option value="Mar">March</option>
                <option value="Apr">April</option>
                <option value="May">May</option>
                <option value="Jun">June</option>
                <option value="Jul">July</option>
                <option value="Aug">August</option>
                <option value="Sep">September</option>
                <option value="Oct">October</option>
                <option value="Nov">November</option>
                <option value="Dec">December</option>
            </select>
            <button class="button" onclick="get_monthly_revenue()">Submit</button>
        </form>

    </div>
</div>
<script>

    function get_monthly_revenue() {
        const year = document.getElementById("year").value;
        const month = document.getElementById("month").value;
        const data = { year, month };

        fetch("/income/", {  // Update the API endpoint URL
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            alert(data.income);
        });
    }
</script>

{%endblock content%}