<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <title>{% block title %}{% endblock title%}</title>
    </head>

    <body>
        <div id="navigation">
            <div id="header">
                <h1 style="margin-left: 20px;">ERP System</h1> 
            </div>
            <ul>
                <li><a href="/myErp">Home</a></li>
                <li class="dropdown">
                    <a href="#">Search/Modify</a>
                    <div class="dropdown-content">
                        <a href="/myErp/staff">Staff</a>
                        <a href="/myErp/supplier">Supplier</a>
                        <a href="/myErp/member">member</a>
                        <a href="/myErp/purchase_order">Purchase_order</a>
                        <a href="/myErp/sale_order">Sale_order</a>
                    </div>
                </li>
                <li><a href="/myErp/item">Inventory</a></li>
                <li><a href="/myErp/staff_performance">Performance</a></li>
                <li><a href="/myErp/supplier_item">Supplier's item</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>

    </body>

</html>
<style>
        
    </style>