<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>{% block title %}login{% endblock  title%}</title>
</head>
<body>
<h1 style="margin:0 450px;">歡迎使用 請先登入</h1>
  <form class="nes-container with-title is-centered" style="margin:150px 450px;" method="post">
    <h2 class="title">Login</h2>
    <div class="nes-field" style="margin: 0 auto;>
      <label for="staff_id_field">staff_id</label>
      <input type="text" id="staff_id_field" class="nes-input" name="staff_id">
    </div>
    <div class="nes-field">
      <label for="password_field">Password</label>
      <input type="password" id="password_field" class="nes-input" name="password">
    </div>
    <button type="submit" class="nes-btn is-primary">Submit</button>
  </form>
<div>{% block content %}{% endblock content %}</div>
</body>