<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div id="navigation">
            <div id="header">
                <h1>ERP System</h1> 
            </div>
        </div>

        <div class="login-container">
            <h2>Welcome to our ERP</h2>
            <form class="login-box nes-container is-rounded" method="POST">
                <div class="login-text">
                    <h3 >login</h3>
                </div>
                <label for="account">Account</label>
                <input type="text" id="account" class="nes-input" name="account">
                <label for="password">Password</label>
                <input type="password" id="password" class="nes-input" name="password">
                {% if error_message and request.method == 'POST' %}
                    <div class="error-message">
                        {{ error_message }}
                    </div>
                {% endif %}
                <div class="submit-wrapper">
                    <button type="submit" class="button">submit</button>
                </div>
            </form>
        </div>

    </body>
</html>
<style>
         .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f8f8;
        }

        .login-box {
            padding: 20px;
            border: 1px solid #000;
            border-radius: 4px;
            background-color: #fff;
            max-width: 500px;
        }

        .login-box input {
            margin-bottom: 10px;
        }

      
        .login-text {
            text-align: center;
        }

        .login-box .submit-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
</style>
