{%extends "base.jinja"%}
{%block title%}Member{%endblock%}
{%block content%}
<div class="nes-table-responsive">
    <div class="container">
        <div class="title-btn-group">
            <h1 class="page-title">Member</h1>
            <button type="button" class="button" id="add_btn">ADD</button>
        </div>
    </div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for m in members %}
            <tr style="text-align: center">
                <td>{{ m.id }}</td>
                <td>{{ m.name }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.phone }}</td>
                <td>{{ m.address }}</td>
                <td>
                    <i class="nes-icon coin is-small show-dialog"></i>
                </td>
                <td>
                    <i class="nes-icon close is-small" id="delete-member"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<dialog class="nes-dialog" id="member_modify">
    <form method="dialog">
        <p class="title">Modify</p>
        <p>Member ID: <span id="dialog-id"></span></p>
        <div class="input-wrapper">
            <label for="dialog-name">Name: </label>
            <input type="text" class="nes-input" id="dialog-name">
        </div>
        <div class="input-wrapper">
            <label for="dialog-email">Email</label>
            <input type="text" class="nes-input" id="dialog-email">
        </div>
        <div class="input-wrapper">
            <label for="dialog-phone">Phone</label>
            <input type="text" class="nes-input" id="dialog-phone">
        </div>
        <div class="input-wrapper">
            <label for="dialog-address">Address</label>
            <input type="text" class="nes-input" id="dialog-address">
        </div>
        <menu class="dialog-menu">
            <button class="nes-btn send-modify-dialog">OK</button>
            <button class="nes-btn is-primary close-dialog">Cancel</button>
        </menu>
    </form>
</dialog>
<dialog class="nes-dialog" id="member_add">
    <form method="dialog">
        <p class="title">Add</p>
        <div class="input-wrapper">
            <label for="add-name">Name: </label>
            <input type="text" class="nes-input" id="add-name">
        </div>
        <div class="input-wrapper">
            <label for="add-email">Email</label>
            <input type="text" class="nes-input" id="add-email">
        </div>
        <div class="input-wrapper">
            <label for="add-phone">Phone</label>
            <input type="text" class="nes-input" id="add-phone">
        </div>
        <div class="input-wrapper">
            <label for="add-address">Address</label>
            <input type="text" class="nes-input" id="add-address">
        </div>
        <menu class="dialog-menu">
            <button class="button close-dialog">Cancel</button>
            <button class="button" id="send-add-btn">Confirm</button>
        </menu>
    </form>
</dialog>
<script>
    $(document).ready(function () {
        $('.show-dialog').click(function () {
            const member_row = $(this).parent().siblings();
            const dialog_fields = $('#member_modify').find('input');
            $('#dialog-id').text(member_row.eq(0).text());
            for (let i = 0; i < dialog_fields.length; i++) {
                dialog_fields.eq(i).val(member_row.eq(i + 1).text());
            }

            $('#member_modify').show();
        });

        $('.send-modify-dialog').click(function () {
            const response = fetch('/member', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    member_id: $('#dialog-id').text(),
                    name: $('#dialog-name').val(),
                    email: $('#dialog-email').val(),
                    phone_number: $('#dialog-phone').val(),
                    address: $('#dialog-address').val()
                })
            }).then(res => {
                if (res.statusText == "OK") {
                    $('#member_modify').hide();
                    location.reload()
                }
            }
            );
        });

        $('#add_btn').click(function () {
            $('#member_add').show();
        });

        $('#send-add-btn').click(function () {
            const response = fetch('/member', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: $('#add-name').val(),
                    email: $('#add-email').val(),
                    phone_number: $('#add-phone').val(),
                    address: $('#add-address').val()
                })
            }).then(res => {
                if (res.statusText == "OK") {
                    $('#member_add').hide();
                    location.reload()
                }
            }
            );
        });

        $('.close-dialog').click(function () {
            $('#member_modify').hide();
            $('#member_add').hide();
        });

        $('#delete-member').click(function () {
            const member_id = $(this).parent().siblings().eq(0).text();
            const response = fetch('/member', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    member_id: member_id
                })
            }).then(res => {
                if (res.statusText == "OK") {
                    location.reload()
                }
            }
            );
        });
    });
</script>
<style>
    .nes-input {
        margin-bottom: 10px;
    }
</style>
{%endblock content%}