{%extends "base.jinja"%}
{%block title%}Purchase Order{%endblock%}
{%block content%}
<div class="nes-table-responsive">
    <div class="container">
        <div class="title-btn-group">
            <h1 class="page-title">Purchase Order</h1>
            <a href="{{url_for('.purchase_order_add')}}"><button type="button" class="button"
                    id="add_btn">ADD</button></a>
        </div>
    </div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Supplier Name</th>
                <th>Staff Name</th>
                <th>Date</th>
                <th>Detail</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for order in orders%}
            <tr style="text-align: center;">
                <td>{{order.p_order_id}}</td>
                <td>{{order.supplier_name}}</td>
                <td>{{order.staff_name}}</td>
                <td>{{order.p_order_date}}</td>
                <td>
                    <a href="{{url_for('.purchase_order_detail',pid=order.p_order_id)}}"><i
                            class="nes-icon is-small star"></i></a>
                </td>
                <td><i class="nes-icon is-small close delete-order"></i></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('.delete-order').click(function () {
            const response = fetch('/purchase_order', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'p_order_id': $(this).parent().parent().children().eq(0).text()
                })
            }).then(function (response) {
                response.json().then(function (data) {
                    if (data.message) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.error);
                    }
                });
            })
        });
    });
</script>

{%endblock%}