{% extends "home.jinja" %}
{% block title %}Sales Order Detail{% endblock %}
{% block content %}
    <div style="margin:10px auto;  width: 220px">
        <div class="nes-table responsive">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in items%}
                    <tr style="text-align: center;">
                        <td>{{item.item_name}}</td>
                        <td>{{item.item_type}}</td>
                        <td>{{item.item_quantity}}</td>
                        <td>{{item.unit_price}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

{%endblock content%}