{%extends "base.jinja"%}
{%block title%}Sales Order{%endblock%}
{%block content%}
<div class="nes-table-responsive">
    <div class="container" >
        <div class="title-btn-group">
            <h1 class="page-title">Sales Order</h1>
            <a href="{{url_for('.sale_order_add')}}"><button type="button" class="button" id="add_btn">ADD</button></a>  
        </div>
    </div>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Member ID</th>
                <th>Staff ID</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {%for order in orders%}
            <tr style="text-align: center;">
                <td>{{order.id}}</td>
                <td>{{order.supplier_id}}</td>
                <td>{{order.staff_id}}</td>
                <td>
                    <a href="{{url_for('.sale_order_detail',pid=order.id)}}"><i class="nes-icon is-small star"></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}