<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Sales Order Detail</title>
</head>

<body>
    <div style="margin:10px auto;  width: 220px">
        <div class="nes-table responsive">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in items%}
                    <tr style="text-align: center;">
                        <td>{{item.item_name}}</td>
                        <td>{{item.item_type}}</td>
                        <td>{{item.item_quantity}}</td>
                        <td>{{item.unit_price}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>