{% extends "base.jinja" %}
{% block title %}Staff Management{% endblock title %}
{% block content %}
<h1 class="page-title">Staff Management</h1>
<div>
    <a onclick="showDialog('Add staff data' , '', '', '' , '/add')" class="nes-btn add-button">add data</a>
</div>

<div class="nes-table-responsive">
    <table class="table-bordered" style="margin-left: 80px">
        <thead>
            <tr>
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Manager ID</th>
                <th class="table-header">Modify</th>
                <th class="table-header">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for s in staffs %}
            <tr class="table-header">
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.mId }}</td>
                <td>
                    <i class="nes-icon coin is-small" onclick="showDialog('Modify staff data' , '{{ s.id }}', '{{ s.name }}', '{{ s.mId }}' , '/modify')"></i>
                </td>
                <td>
                <i class="nes-icon close is-small" onclick="showDialog('Delete staff data' , '{{ s.id }}', '{{ s.name }}', '{{ s.mId }}' , '/delete' ,true)"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    <div>
    </table>
    <dialog class="nes-dialog" id="dialog-default">
        <form method="dialog">
            <p class="title" id="dialog-title" style="text-align: center;"></p>
            <!-- <p>Staff ID: <span id="dialog-id"></span></p> -->
            <div class="input-wrapper">
                <label for="Name_field">Staff ID: </label>
                <input type="text" id="dialog-id" class="nes-input" name="name" readonly>
            </div>
            <div class="input-wrapper">
                <label for="Name_field">Name: </label>
                <input type="text" id="dialog-name" class="nes-input" name="name">
            </div>
            <div class="input-wrapper">
                <label for="Name_field">Manager ID: </label>
                <input type="text" id="dialog-mid" class="nes-input" name="name">
            </div>
            <span id="dialog-path" hidden></span>
            <menu class="dialog-menu">
                <button class="nes-btn" onclick="closeDialog(false)">Cancel</button>
                <button class="nes-btn is-primary" onclick="closeDialog(true)">Confirm</button>
            </menu>
        </form>
    </dialog>
</div>


<script>
    function showDialog(title,id, name, mid , path , readonly = false) {
        const dialogTitle = document.getElementById('dialog-title');
        const dialog = document.getElementById('dialog-default');
        const dialogId = document.getElementById('dialog-id');
        const dialogName = document.getElementById('dialog-name');
        const dialogMid = document.getElementById('dialog-mid');
        const dialogPath = document.getElementById('dialog-path');

        dialogTitle.textContent = title;
        dialogId.value = id;
        dialogName.value = name;
        dialogMid.value = mid;
        if(readonly){
            dialogId.setAttribute("readonly", "False");
            dialogName.setAttribute("readonly", "true");
            dialogMid.setAttribute("readonly", "true");
        }
        dialogPath.textContent = path;

        if (!dialog.hasAttribute('opened')) {
            dialog.showModal();
            dialog.setAttribute('opened', 'true');
        }
    }
    
    function closeDialog(send) {
        const dialog = document.getElementById('dialog-default');
        const dialogId = document.getElementById('dialog-id').value;
        const dialogName = document.getElementById('dialog-name').value;
        const dialogMid = document.getElementById('dialog-mid').value;
        const dialogPath = document.getElementById('dialog-path').textContent;
        dialog.close();
        dialog.removeAttribute('opened');
        // Send GET request to staff/ endpoint
        params = "id="+dialogId
        if(send){
            /*
            const xhr = new XMLHttpRequest();
            xhr.open('POST', dialogPath );
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");  // 設定請求的內容類型
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const response = xhr.responseText;
                    console.log(response); // Handle the response as needed
                    const test=document.getElementById('failTest')
                    test.textContent="fail"
                }
            };
                xhr.send(params);
            */

            // 建立一個 form 元素
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = dialogPath;  // 替換為你的伺服器端 API 的 URL

            // 建立一個輸入欄位 (input) 並設定屬性
            var param1Input = document.createElement('input');
            param1Input.type = 'hidden';  // 隱藏欄位
            param1Input.name = 'id';  // 參數名稱
            param1Input.value = dialogId;  // 參數值
            form.appendChild(param1Input);  // 將輸入欄位加入到表單中

            var param2Input = document.createElement('input');
            param2Input.type = 'hidden';  // 隱藏欄位
            param2Input.name = 'name';  // 參數名稱
            param2Input.value = dialogName;  // 參數值
            form.appendChild(param2Input);  // 將輸入欄位加入到表單中

            var param3Input = document.createElement('input');
            param3Input.type = 'hidden';  // 隱藏欄位
            param3Input.name = 'mId';  // 參數名稱
            param3Input.value = dialogMid;  // 參數值
            form.appendChild(param3Input);  // 將輸入欄位加入到表單中

            // 將表單加入到網頁的 body 元素中
            document.body.appendChild(form);

            // 提交表單
            form.submit();
        }
    }
</script>

{% endblock content %}
